body {
  background-color: #262a2e;
  margin: 0;
}

.App {
  text-align: center;
  font-family: chalkduster;
  color: white;
}

h1 {
  font-size: 5rem;
}

section {
  margin: 20px;
  margin: 50px auto;
}

span {
  font-size: 2.5rem;
  border-radius: 50%;
}

span:hover {
  transform: translate(5px, -5px);
}

.emojis {
  width: 800px;
  display: flex;
  flex-wrap: wrap;
}
